<div class="password-strength-wrapper">
  <input
    [type]="passwordFieldType"
    [value]="password"
    (input)="onPasswordInput($event)"
    class="form-control"
    placeholder="Enter the password..."
  />
  <div class="icon-wrapper">
    <div class="eye-icon" (click)="togglePasswordVisibility()">
      <i
        [ngClass]="
          passwordFieldType === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash'
        "
      ></i>
    </div>
    <div class="reset-icon" (click)="resetPassword()" title="Reset Password">
      <i class="fa-solid fa-arrows-rotate"></i>
    </div>
  </div>
</div>
