.password-strength {
  display: flex;
}

.strength-section {
  flex: 1;
  height: 10px;
  margin-right: 2px;
  background-color: gray;
  border-radius: 2px;
}

.strength-section:last-child {
  margin-right: 0;
}

.strength-section.red {
  background-color: red;
}

.strength-section.yellow {
  background-color: yellow;
}

.strength-section.green {
  background-color: green;
}
