<div class="password-checker">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Пароль:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
      <div
        *ngIf="
          passwordControl.invalid &&
          (passwordControl.dirty || passwordControl.touched)
        "
      >
        <div *ngIf="passwordControl.errors?.required">Пароль обов'язковий</div>
        <div *ngIf="passwordControl.errors?.minlength">
          Пароль має бути не менше 8 символів
        </div>
        <div *ngIf="passwordControl.errors?.uppercase">
          Пароль має містити хоча б одну велику літеру
        </div>
        <div *ngIf="passwordControl.errors?.lowercase">
          Пароль має містити хоча б одну малу літеру
        </div>
        <div *ngIf="passwordControl.errors?.number">
          Пароль має містити хоча б одну цифру
        </div>
        <div *ngIf="passwordControl.errors?.specialCharacter">
          Пароль має містити хоча б один спеціальний символ
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="passwordForm.invalid"
    >
      Перевірити пароль
    </button>
  </form>
</div>
