h1 {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.password-checker {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(233, 216, 216);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.password-strength-wrapper {
  margin-bottom: 5px;
  position: relative;
}

.password-strength {
  display: flex;
}

.strength-section {
  flex: 1;
  height: 10px;
  margin-right: 2px;
  background-color: gray;
  border-radius: 2px;
}

.strength-section:last-child {
  margin-right: 0;
}

.strength-section.red {
  background-color: red;
}

.strength-section.yellow {
  background-color: yellow;
}

.strength-section.green {
  background-color: green;
}

.eye-icon {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}
