<h1>Password Strength Checker</h1>
<div class="password-checker">
  <form [formGroup]="passwordForm">
    <div class="form-group">
      <label for="password">Password:</label>
      <div class="password-strength-wrapper">
        <input
          [type]="passwordFieldType"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter the password..."
        />
        <span class="eye-icon" (click)="togglePasswordVisibility()">
          {{ passwordFieldType === "password" ? "👁️" : "👁️‍🗨️" }}
        </span>
      </div>
      <div class="password-strength">
        <div class="strength-section" [ngClass]="getStrengthClass(1)"></div>
        <div class="strength-section" [ngClass]="getStrengthClass(2)"></div>
        <div class="strength-section" [ngClass]="getStrengthClass(3)"></div>
      </div>
    </div>
  </form>
</div>
