<!-- <h1>Password Strength Checker</h1>
<div class="password-checker">
  <form [formGroup]="passwordForm">
    <div class="form-group">
      <label for="password">Test your password here:</label>

      <div class="password-strength-wrapper">
        <input
          [type]="passwordFieldType"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Enter the password..."
        />
        <div class="icon-wrapper">
          <div class="eye-icon" (click)="togglePasswordVisibility()">
            <i
              [ngClass]="
                passwordFieldType === 'password'
                  ? 'fas fa-eye'
                  : 'fas fa-eye-slash'
              "
            ></i>
          </div>
          <div
            class="reset-icon"
            (click)="resetPassword()"
            title="Reset Password"
          >
            <i class="fa-solid fa-arrows-rotate"></i>
          </div>
        </div>
      </div>

      <div class="character-counter">Characters: {{ passwordLength }}</div>

      <div class="password-strength">
        <div class="strength-section" [ngClass]="getStrengthClass(1)"></div>
        <div class="strength-section" [ngClass]="getStrengthClass(2)"></div>
        <div class="strength-section" [ngClass]="getStrengthClass(3)"></div>
      </div>
    </div>
  </form>
</div>
<div class="tips">
  <h2>Info:</h2>
  <ul>
    <li>1. Only letters/digits/symbols - the password is easy (red);</li>
    <li>
      2. Combination of letters-symbols/letters-digits/digits-symbols - the
      password is medium (yellow);
    </li>
    <li>3. Has letters, symbols and numbers - the password is strong (red);</li>
  </ul>
</div> -->
