<h1>Password Strength Checker</h1>
<div class="password-checker">
  <form [formGroup]="passwordForm">
    <div class="form-group">
      <label for="password">Test your password here:</label>
      <app-password-input formControlName="password"></app-password-input>
      <div class="character-counter">
        Characters: {{ passwordForm.get("password")?.value.length || 0 }}
      </div>
      <app-password-strength
        [passwordStrength]="passwordStrength"
      ></app-password-strength>
    </div>
  </form>
</div>
<div class="tips">
  <h2>Info:</h2>
  <ul>
    <li>1. Only letters/digits/symbols - the password is easy (red);</li>
    <li>
      2. Combination of letters-symbols/letters-digits/digits-symbols - the
      password is medium (yellow);
    </li>
    <li>3. Has letters, symbols and numbers - the password is strong (red);</li>
  </ul>
</div>
